<?php
	//判断是修改还是添加
	if (empty($info)) {
		$action = 'add&id='.$_SESSION['user']['id'];
	}else{
		$action = 'do_update&id='.$_SESSION['user']['id'];
	}
?>
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>账户信息</title>
	<link rel="icon" href="./Include/images/favicon.ico" >
	<link rel="stylesheet" href="./Include/css/userinfo.css">
</head>
<body bgcolor="#F5F5F5">
	<div id="header">
		<div class="header_top w">
			<span>送至：山西</span>
			<ul>
				<?php if ( empty($_SESSION['user']['username']) || $_SESSION['user']['login'] != 'true') {
	echo '<li><a href="./index.php?c=user&a=login">你好，请登录</a>&nbsp;<a href="./index.php?c=user&a=reg" style="color:#F10215">免费注册</a></li>';
}else{
	echo !isset($_SESSION['user']['uername'])?'<li style="margin-right: 10px;"><a href="./index.php?c=user">'.$_SESSION['user']['username'].'</a><div class="myjd_menu"><a href="./index.php?c=user&a=logout">退出登录</a></div></li>':'username';
} ?>
				<li class="fenge"></li>
				<li class=""><a href="./index.php?c=user&a=order">我的订单</a></li>
				<li class="fenge"></li>
				<li class=""><a href="./index.php?c=user">我的京东 ∨</a></li>
				<li class="fenge"></li>
				<li class=""><a href="">京东会员</a></li>
				<li class="fenge"></li>
				<li class=""><a href="">企业采购</a></li>
				<li class="fenge"></li>
				<li class=""><a href="">手机京东 ∨</a></li>
				<li class="fenge"></li>
				<li class="">关注京东 ∨</li>
				<li class="fenge"></li>
				<li class="">客户服务 ∨</li>
				<li class="fenge"></li>
				<li class="">网站导航 ∨</li>
				<div style="clear:both"></div>
			</ul>
		</div>
		<div class="header_links">
			<div class="w">
				<div class="logo"><a href="./index.php" target="_blank"><img src="./Include/images/logo (1).png"></a></div>
				<div class="myjd">
					<a href="./index.php?c=user">我的京东</a><br>
					<a href="./index.php">返回京东首页</a>
				</div>
				<div class="header_nav">
					<ul>
						<li><a href="./index.php?c=user">首页</a></li>
						<li><a href="./index.php?c=user">账户设置</a></li>
						<li><a href="">社区</a></li>
						<li><a href="">消息</a></li>
					</ul>
				</div>
				<div class="header_nav_right">
					<form action="" method="">
						<div class="header_search">
							<input type="text" name="search_keywords">
							<input type="submit" value="搜索">
						</div>
					</form>
						<div class="mycart">
							<i></i>
							<a href="./index.php?c=cart"><span>我的购物车 ></span></a>
						</div>
				</div>
				<div style="clear: both"></div>
			</div>
		</div>
	</div>
	<div id="content">
		<div class="w">
			<div class="left_menu">
				<ul>
					<li>设置</li>
					<li><a href="./index.php?c=user" style="color:#E4393C;font-weight: bold">个人信息</a></li>
					<li><a href="">账户安全</a></li>
					<li><a href="">账号绑定</a></li>
					<li><a href="">我的级别</a></li>
					<li><a href="">收货地址</a></li>
					<li><a href="">分享绑定</a></li>
					<li><a href="">邮件订阅</a></li>
					<li><a href="">消费记录</a></li>
					<li><a href="">应用授权</a></li>
					<li><a href="">快捷支付</a></li>
					<li><a href="">增票资质</a></li>
					<li><a href="">企业发票</a></li>
					<li><a href="">采购需求单</a></li>
				</ul>
			</div>
			<div class="info_main">
				<div class="main_nav">
					<ul>
						<li><a href="">基本信息</a></li>
						<li><a href="">头像照片</a></li>
						<li><a href="">更多个人信息</a></li>
					</ul>
				</div>
				<div class="info_con">
				<!-- 个人信息表单 -->
				<form action="./index.php?c=user&a=<?php echo $action?>" method="post" enctype="multipart/form-data">
					<div class="info_top">
						<div class="basic_box">
							<div>用户ID：<b><?php echo $_SESSION['user']['id']?></b></div>
							<div>登录名：<b><?php echo $_SESSION['user']['username']?></b></div>
							<div>真实姓名：<input type="text" name="name" value="<?php echo isset($info[0]['name'])?$info[0]['name']:'' ?>" ></div>
						</div>
						<div class="head_box">
<?php if (!empty($info[0]['pic'])) {
	$pic = '../public/uploads/head/'.$info[0]['pic'];
}else{
	$pic = './Include/images/no-head_pic_.jpg';
	}?>
							<div class="head_pic"><img src="<?php echo $pic ?>" width="100" height="100"></div>
							<ul class="head_other">
								<li><b>用户名：<?php echo $_SESSION['user']['username']?></b></li>
								<li><i><a href="">金牌会员</a></i></li>
								<li><span>小白信用：<a href="">94.7</a></span></li>
								<li><span>会员类型：个人用户</span></li>
								<li><input type="file" name="pic" ><!-- <a href="">选择您要上传的头像</a> --></li>
							</ul>
						</div>
						<!-- 隐藏传原头像路径 -->
						<input type="hidden" name="y_pic" value="<?php echo $pic ?>">
						<div style="clear: both"></div>
					</div>
					<div class="info_bottom">
						<div class="basic_box">
<?php
	$man = $woman = $baomi= '';
	if(isset($info[0]['sex'])){
		switch ($info[0]['sex']) {
			case '0':
				$woman = 'checked';
				$man = $baomi= '';
				break;
			case '1':
				$man = 'checked';
				$woman = $baomi= '';
				break;
			case '2':
				$baomi = 'checked';
				$woman = $man= '';
				break;
			default:
				$man = $woman = $baomi= '';
				break;
		}
	}
?>
							<div>性别：<label><input type="radio" name="sex" value="1" <?php echo $man?>>男</label>
										<label><input type="radio" name="sex" value="0" <?php echo $woman?>>女</label>
										<label><input type="radio" name="sex" value="2" <?php echo $baomi?>>保密</label>
							</div>
							<div>
								年龄：<input type="number" name="age" value="<?php echo isset($info[0]['age'])?$info[0]['age']:'' ?>">
							</div>
							<div>
								电话：<input type="text" name="phone" value="<?php echo isset($info[0]['phone'])?$info[0]['phone']:'' ?>">
							</div>
							<div>
								地址：<input type="text" name="address" value="<?php echo isset($info[0]['address'])?$info[0]['address']:'' ?>">
							</div>
							<!-- <div>生日：
								<select name="birthday_year">
									<option value="1996">1996</option>
								</select> 年 
								<select name="birthday_month">
									<option value="09">9</option>
								</select> 月 
								<select name="birthday_day">
									<option value="10">10</option>
								</select> 日 &nbsp;&nbsp;填生日有惊喜哦~
							</div> -->
							<div class="hobby">兴趣爱好：请选择您感兴趣的分类，给您最精准的推荐<br>
<?php
	$a = $b = $c = $d = $e = $f = $g = $h = $i = $j = $k = $l = $m = '';

	if (!empty($info[0]['hobby'])) {
		$info[0]['hobby'] = explode(',',$info[0]['hobby']);
		// var_dump($info[0]['hobby']);
		if (in_array('1',$info[0]['hobby'])) {
			$a = 'checked';
		}
		if (in_array('2',$info[0]['hobby'])) {
			$b = 'checked';
		}
		if (in_array('3',$info[0]['hobby'])) {
			$c = 'checked';
		}
		if (in_array('4',$info[0]['hobby'])) {
			$d = 'checked';
		}
		if (in_array('5',$info[0]['hobby'])) {
			$e = 'checked';
		}
		if (in_array('6',$info[0]['hobby'])) {
			$f = 'checked';
		}
		if (in_array('7',$info[0]['hobby'])) {
			$g = 'checked';
		}
		if (in_array('8',$info[0]['hobby'])) {
			$h = 'checked';
		}
		if (in_array('9',$info[0]['hobby'])) {
			$i = 'checked';
		}
		if (in_array('10',$info[0]['hobby'])) {
			$j = 'checked';
		}
		if (in_array('11',$info[0]['hobby'])) {
			$k = 'checked';
		}
		if (in_array('12',$info[0]['hobby'])) {
			$l = 'checked';
		}
		if (in_array('13',$info[0]['hobby'])) {
			$m = 'checked';
		}
	}
?>
								<i class="hobby_list">
									<span><label><input type="checkbox" name="hobby[]" value="1" <?php echo $a;?> > 图书/音像/数字商品</label></span>
									<span><label><input type="checkbox" name="hobby[]" value="2" <?php echo $b;?> > 家用电器</label></span>
									<span><label><input type="checkbox" name="hobby[]" value="3" <?php echo $c;?> > 手机/数码</label></span>  
									<span><label><input type="checkbox" name="hobby[]" value="4" <?php echo $d;?> > 电脑/办公</label></span>
									<span><label><input type="checkbox" name="hobby[]" value="5" <?php echo $e;?> > 家居/家具/家装/厨具</label></span>
									<span><label><input type="checkbox" name="hobby[]" value="6" <?php echo $f;?> > 服饰内衣/珠宝首饰</label></span>
									<span><label><input type="checkbox" name="hobby[]" value="7" <?php echo $g;?> > 个护化妆</label></span>
									<span><label><input type="checkbox" name="hobby[]" value="8" <?php echo $h;?> > 鞋靴/箱包/钟表/奢侈品</label></span>
									<span><label><input type="checkbox" name="hobby[]" value="9" <?php echo $i;?> > 运动健康</label></span>
									<span><label><input type="checkbox" name="hobby[]" value="10" <?php echo $j;?> > 汽车用品</label></span>
									<span><label><input type="checkbox" name="hobby[]" value="11" <?php echo $k;?> > 母婴/玩具乐器</label></span>
									<span><label><input type="checkbox" name="hobby[]" value="12" <?php echo $l;?> > 食品饮料/保健食品</label></span>
									<span><label><input type="checkbox" name="hobby[]" value="13" <?php echo $m;?> > 彩票/旅行/充值/票务</label></span>
								</i>
							</div>
							
							<div>
								邮箱：<input type="email" name="email" value="<?php echo isset($info[0]['email'])?$info[0]['email']:'' ?>">
							</div>
							<div><input type="submit"></div>
						</div>
					</div>
				</form>
				</div>
			</div>
		</div>
	</div>
	<div style="clear: both"></div>
	<div id="footer">
		<div class="service_items">
			<ul>
				<li class="service_item_1"></li>
				<li class="service_item_2"></li>
				<li class="service_item_3"></li>
				<li class="service_item_4"></li>
			</ul>
		</div>
		<div class="services_list">
			<ul class="w">
				<li>
					<ul class="setvices_list_item">
						<li>购物指南</li>
						<li><a href="">购物流程</a></li>
						<li><a href="">会员介绍</a></li>
						<li><a href="">生活旅行/团购</a></li>
						<li><a href="">常见问题</a></li>
						<li><a href="">大家电</a></li>
						<li><a href="">联系客服</a></li>
					</ul>
				</li>
				<li>
					<ul class="setvices_list_item">
						<li>配送方式</li>
						<li><a href="">上门自提</a></li>
						<li><a href="">211限时达</a></li>
						<li><a href="">配送服务查询</a></li>
						<li><a href="">配送费收取标准</a></li>
						<li><a href="">海外配送</a></li>
					</ul>
				</li>
				<li>
					<ul class="setvices_list_item">
						<li>支付方式</li>
						<li><a href="">货到付款</a></li>
						<li><a href="">在线支付</a></li>
						<li><a href="">分期付款</a></li>
						<li><a href="">邮局汇款</a></li>
						<li><a href="">公司转账</a></li>
					</ul>
				</li>
				<li>
					<ul class="setvices_list_item">
						<li>售后服务</li>
						<li><a href="">售后政策</a></li>
						<li><a href="">价格保护</a></li>
						<li><a href="">退款说明</a></li>
						<li><a href="">返修/退换货</a></li>
						<li><a href="">取消订单</a></li>
					</ul>
				</li>
				<li>
					<ul class="setvices_list_item">
						<li>特色服务</li>
						<li><a href="">夺宝岛</a></li>
						<li><a href="">DIY装机</a></li>
						<li><a href="">延保服务</a></li>
						<li><a href="">京东E卡</a></li>
						<li><a href="">京东通信</a></li>
						<li><a href="">京东JD+</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="copyright_con">
			<div class="links">
				<ul>
				<?php foreach($linklist as $v){?>
					<li><a href="<?php echo $v['address']?>"><?php echo $v['name']?></a></li>
					<li class="fenge">|</li>
<?php } ?>
					<!-- <li class="links_text"><a href="">关于我们</a></li>
					<li class="fenge">|</li>
					<li class="links_text"><a href="">联系我们</a></li>
					<li class="fenge">|</li>
					<li class="links_text"><a href="">联系客服</a></li>
					<li class="fenge">|</li>
					<li class="links_text"><a href="">合作招商</a></li>
					<li class="fenge">|</li>
					<li class="links_text"><a href="">营销中心</a></li>
					<li class="fenge">|</li>
					<li class="links_text"><a href="">手机京东</a></li>
					<li class="fenge">|</li>
					<li class="links_text"><a href="">友情链接</a></li>
					<li class="fenge">|</li>
					<li class="links_text"><a href="">销售联盟</a></li>
					<li class="fenge">|</li>
					<li class="links_text"><a href="">京东社区</a></li>
					<li class="fenge">|</li>
					<li class="links_text"><a href="">风险监测</a></li>
					<li class="fenge">|</li>
					<li class="links_text"><a href="">隐私政策</a></li>
					<li class="fenge">|</li>
					<li class="links_text"><a href="">京东公益</a></li>
					<li class="fenge">|</li>
					<li class="links_text"><a href="">English Site</a></li>
					<li class="fenge">|</li>
					<li class="links_text"><a href="">Media & IR</a></li> -->
				</ul>
			</div>
			
			<div>
				<img src="./images/gongan_pic.png">
				<a href="">京公网安备 11000002000088号</a>   |  京ICP证070359号  |  
				<a href="">互联网药品信息服务资格证编号(京)-经营性-2014-0008</a>  |  新出发京零 字第大120007号<br>
			</div>
			<div>
				互联网出版许可证编号新出网证(京)字150号  |  
				<a href="">出版物经营许可证</a>  |  
				<a href="">网络文化经营许可证京网文[2014]2148-348号</a>  |  违法和不良信息举报电话：4006561155<br>
			</div>
			<div>Copyright © 2004-2017  京东JD.com 版权所有  |  消费者维权热线：4006067733    <a href="">经营证照</a><br>
			</div>
			<div>
				京东旗下网站：<a href="">京东支付</a>  |  <a href="">京东云</a><br>
			</div>
			<div class="links_pic">
				<img src="./images/footer_links_pic_1.png" alt="">
				<img src="./images/footer_links_pic_2.png" alt="">
				<img src="./images/footer_links_pic_3.png" alt="">
				<img src="./images/footer_links_pic_4.png" alt="">
				<img src="./images/footer_links_pic_5.png" alt="">
				<img src="./images/footer_links_pic_6.png" alt="">
			</div>
		</div>	
	</div>
</body>
</html>